<h4>Web Blackjack</h4>

Hi <%=session[:player_name]%>.  How much would you like to bet?
<br/>
<br/>
<form action='/set_bet' method='post'>
  Bet: <input type='Bet' name='bet'/>
  <br/><br/>
  <input type='submit' class='btn'>
</form>