

<h4>Here are the new cards</h4>
</br>
</br>
The dealer's cards are:
<%=session["dealer_cards"].keys%>
  The dealer's hand total is: <%=hand_total(session["dealer_cards"])%>
</br>
</br>
The player's cards are:
<%=session["player1_cards"].keys%>
  The player's hand total is: <%=hand_total(session["player1_cards"])%>
</br>
</br>

Would you like to hit or stay?
</br>
</br>
<form action='/hit_me' method='post'>  
  <input type='submit' class='btn' value="Hit Me">
</form>
<form action='/stay' method='post'>  
  <input type='submit' class='btn' value="Stay">
</form>